* {
    background-color: #b1ae91;
}

#gamecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 750px;
    width: 750px;
    margin: auto;
}

.cells {
    height: 250px;
    width: 250px;
}

.top {
    border-bottom: 2px solid #b47978;
    align-self: bottom;
}

.center {
    border: 2px 0 2px 0 solid #b47978;
}

.bottom {
    border-top: 2px solid #b47978;
    align-self: start;
}

.left {
    border-right: 2px solid #b47978;
    justify-self: end;
}

.middle {
    border: 0 2px 0 2px solid #b47978;
}

.right {
    border-left: 2px solid #b47978;
    justify-self: start;
}

#bannerContainer {
    width: 100%;
    text-align: center;
}

#banner {
    display: inline-block;
    text-align: center;
}