#gamecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 750px;
    width: 750px;
    margin: auto;
}

.cells {
    height: 250px;
    width: 250px;
}

.top {
    border-bottom: 1px solid black;
    align-self: bottom;
}

.center {
    border: 1px 0 1px 0 solid black;
}

.bottom {
    border-top: 1px solid black;
    align-self: start;
}

.left {
    border-right: 1px solid black;
    justify-self: end;
}

.middle {
    border: 0 1px 0 1px solid black
}

.right {
    border-left: 1px solid black;
    justify-self: start;
}

#bannerContainer {
    width: 100%;
    text-align: center;
}

#banner {
    display: inline-block;
    text-align: center;
}